extends ../layout
block content
    link(href='/css/kepu.css',rel='styleSheet')
    link(href='/css/style.css',rel='styleSheet')
    link(href='/css/diyUpload.css',rel='styleSheet')
    script(src='/libs/ueditor/ueditor.config.js',type='text/javascript',charset='utf-8')
    script(src='/libs/ueditor/ueditor.all.min.js',type='text/javascript',charset='utf-8')
    script(src='/libs/ueditor/lang/zh-cn/zh-cn.js',type='text/javascript',charset='utf-8')

    .my-container
        include ../includes/nav
        .main
            .position 当前位置：健康科普>新增文章
            section#content

                mixin imgRender(item)
                    .viewThum
                    .diyCancel
                    .diySuccess
                    .diyFileName #{item.imageId}
                    img(src='#{item.imageUrl}')

                input(type="hidden",id="action",value="/kepu/modify")
                form#articleForm.formBox
                    h3 基本信息
                    ul
                        li
                            label 文章主题：
                            input#title(type='text',name='title',value="#{data.title}")
                            span.tip 最多50个字符,不能为空
                        li
                            label 栏目：
                            input#categoryData(type="hidden",value="#{JSON.stringify(category)}")
                            select#category(name='category',value="#{data.category}")
                                if category
                                    each item,index in category
                                        if data.category == item.id
                                            option(value="#{item.id}",selected) #{item.name}
                                        else
                                            option(value="#{item.id}") #{item.name}
                        li
                            label 作者：
                            input#author(type='text',name='author',value="#{data.author}")
                            span.tip 0-50个字符
                        li
                            label 文章来源：
                            input#source(type='text',name='source',value="#{data.source}")
                            span.tip 0-50个字符
                        li
                            label 关键字：
                            input#keyword(type='text',name='keyword',value="#{data.keyword}")
                            span.tip 关键字之间用" , "隔开.0-50个字符
                        li
                            label 网页描述：
                            input#wapDesc(type='text',name='wapDesc',value="#{data.wapDesc}")
                            span.tip 0-255个字符
                        li
                            label 文章摘要：
                            textarea#brief(name='brief',value="#{data.brief}") #{data.brief}
                            span.tip 最多255个字符,不能为空
                        li
                            h3 宣传图片
                                #container.imgUploadBox
                                    input#goodsImages(type='hidden',name='imgs',value="#{JSON.stringify(data.imgs)}")
                                    a#selectfiles_goodsImages.btn(href="javascript:void(0);") 选择文件
                                    a#postfiles_goodsImages.btn(href="javascript:void(0);") 开始上传
                                    span.tip 图片不能为空,请上传
                                #previewImage_goodsImages.parentFileBox.clearfix
                                    ul.fileBoxUl.fileBoxUl_previewImage_goodsImages
                                        - var len =  data.imgs.length
                                        each item,i in data.imgs
                                            if len == 1
                                                li.diyUploadHover
                                                    .viewThum
                                                    .diyCancel
                                                    .diySuccess
                                                    .diyFileName #{item.imageId}
                                                    img(src='#{item.imageUrl}')
                                            else
                                                if i == 0
                                                    li.diyUploadHover
                                                        +imgRender(item)
                                                        span.right 右移
                                                else if i > 0 && i < len - 1
                                                    li.diyUploadHover
                                                        +imgRender(item)
                                                        span.left 左移
                                                        span.right 右移

                                                else if i = len - 1
                                                    li.diyUploadHover
                                                        +imgRender(item)
                                                        span.left 左移
                        li
                            label 内容：
                            .ueditorDiv
                                script#editor(type='text/plain',style='width:100%;height:500px',name='content')


                    .submitDiv
                        input(type='hidden',id="contentVal",value="#{data.content}")
                        input(type='hidden',id='postStatus',name='postStatus',value="#{data.postStatus}")
                        input(type='hidden',name='url',value="#{data.url}")
                        input(type='hidden',id='parentId',name='parentId',value='0')
                        input(type='hidden',id="selectedCat",value="#{data.category}")
                        input#articleId(type='hidden',name='id',value="#{data.id}")
                        input(type='hidden',id='server_img_path',value='#{server_img_path}')
                        input(type='hidden',name='createdAt',value="#{data.createdAt}")
                        if(eleAuthority && eleAuthority.ArticleNewDraft)
                            input#draftBtn.btn(type='button',value='保存为草稿')
                        if(eleAuthority && eleAuthority.ArticleNewPublish)
                            input#submitBtn.btn(type='button',value='发布')



    include ../includes/footer
    script(src="/js/libs/jquery.min.js")
    script.
        seajs.use('/js/kepu_add.js')