extends ../layout
block content
    link(href="/css/daterangepicker.css",rel="stylesheet")
    link(href="/css/DateTimePicker.css",rel="stylesheet")
    link(href='/css/scheduling/scheduling_set_numbers.css',rel='styleSheet')
    .container
        include ../includes/nav
        .main
            .position 当前位置：排班系统> 号源管理 > 号源设置
            section#content.scheduling
                //-div get_numbers_detail_success:#{get_numbers_detail_success}
                //-div get_one_template_success:#{get_one_template_success}
                if !success
                    aside #{data}
                else
                    .topBasic
                        input.hospitalId(type='hidden',name='hospitalId',value=data.hospitalReDepartments[0].hospitalId)
                        input.doctorId(type='hidden',name='doctorId',value=data.id)
                        h2 #{data.doctorName}
                            em #{data.title}
                            em #{data.hospitalReDepartments[0].hospitalName}
                        p: a.btn(href='/scheduling/numbers/template') 模板管理
                        if get_one_template_success
                            h4.choose_template 当前选择了模板：#{get_one_template.name}
                        else if !get_one_template_success&&get_one_template_all
                            aside.red 选择模板失败：#{get_one_template_all.msg}
                        select.dayOfWeek(name='dayOfWeek')
                            option(value='1') 周一
                            option(value='2') 周二
                            option(value='3') 周三
                            option(value='4') 周四
                            option(value='5') 周五
                            option(value='6') 周六
                            option(value='7') 周日
                .formBox
                    table.table(data-id=data.id)
                        thead
                            tr
                                th(colspan='5')
                                    span.addRow.lt  +新增一行
                                    a.rt(href='/scheduling/numbers/choose_template?id='+data.id,target='_blank')  选择模板
                            tr
                                th  开始时间
                                th  结束时间
                                th  放号数
                                th  挂号费用
                                th

                        tbody
                            if get_numbers_detail_success
                                if get_numbers_detail.doctorRegSourceDetailDTOList
                                    each arr in get_numbers_detail.doctorRegSourceDetailDTOList
                                        tr
                                            td
                                                input.start(type='text',name='start',value=arr.start,data-field="time",readonly)
                                                //-select.start(name='start')
                                                    option(value='')
                                                    each arrs in CONST.periodArr
                                                        - bSelect = null;
                                                        if(arrs == arr.start)
                                                            - bSelect =true
                                                        option(value='#{arrs}','selected'=bSelect) #{arrs}
                                            td
                                                input.end(type='text',name='end',value=arr.end,data-field="time")
                                                //-select.end(name='end')
                                                    option(value='')
                                                    each arrs in CONST.periodArr
                                                        - bSelect = null;
                                                        if(arrs == arr.end)
                                                            - bSelect =true
                                                        option(value='#{arrs}','selected'=bSelect) #{arrs}

                                            td
                                                input.capacity(type='text',name='capacity',placeholder='放号数',value=arr.capacity)
                                            td
                                                input.cost(type='text',name='cost',placeholder='挂号费',value=parseFloat(arr.cost)/100)
                                            td
                                                a.delete(href='javascript:;') 删除
                            else if get_one_template_success
                                if get_one_template.regSourceTemplateDetailDTOList
                                    each arr in get_one_template.regSourceTemplateDetailDTOList
                                        tr
                                            td
                                                input.start(type='text',name='start',value=arr.start,data-field="time",readonly)
                                                //-select.start(name='start')
                                                    option(value='')
                                                    each arrs in CONST.periodArr
                                                        - bSelect = null;
                                                        if(arrs == arr.start)
                                                            - bSelect =true
                                                        option(value='#{arrs}','selected'=bSelect) #{arrs}
                                            td
                                                input.end(type='text',name='end',value=arr.end,data-field="time")
                                                //-select.end(name='end')
                                                    option(value='')
                                                    each arrs in CONST.periodArr
                                                        - bSelect = null;
                                                        if(arrs == arr.end)
                                                            - bSelect =true
                                                        option(value='#{arrs}','selected'=bSelect) #{arrs}

                                            td
                                                input.capacity(type='text',name='capacity',placeholder='放号数',value=arr.capacity)
                                            td
                                                input.cost(type='text',name='cost',placeholder='挂号费',value=parseFloat(arr.cost)/100)
                                            td
                                                a.delete(href='javascript:;') 删除
                            else
                                tr
                                    td(colspan='5')
                                        aside= JSON.stringify(get_one_template_all)
                                //-for(var i=0;i<5;i++){
                                      tr
                                        td
                                            input.start(type='text',name='start',data-field="time")
                                            //-select.start(name='start')
                                                option(value='')
                                                each arr in CONST.periodArr
                                                    option(value=arr) #{arr}
                                        td
                                            input.end(type='text',name='end',value=arr.end,data-field="time")
                                            //select.end(name='end')
                                                option(value='')
                                                each arr in CONST.periodArr
                                                    option(value=arr) #{arr}
                                        //-td
                                            input(type='text',name='end')
                                            |时
                                            input(type='text')
                                            | 分
                                        td
                                            em 无
                                            input.capacity(type='text',name='capacity',placeholder='放号数')
                                        td
                                            input.cost(type='text',name='cost',placeholder='挂号费')
                                        td
                                            a.delete(href='javascript:;') 删除

                                //--}
                    p 注：修改时间段设置，只针对未排班的生效，之前已经排班的不影响。
                    button.submitBtn 保存设置
                    #dtBox


    include ../includes/footer
    script.
        seajs.use('/js/scheduling/set_numbers.js')