extends ../layout
block content
    link(href='/css/screenings/booking.css',rel='styleSheet')
    .container
        include ../includes/nav
        .main
            .position 当前位置：筛查业务>预约管理
            section#content

                    if eleAuthority&&eleAuthority.BookingSerch
                        form(method='get',action=actionUrl).search
                            - var serviceType = [{'1':'门诊取样'},{'2':'上门取样'},{'3':'快递取样'}]
                            label 预约编号：
                            input(type='search',name='reservationId',value=queryObj.reservationId)
                            label 套餐密码：
                            input(type='search',name='password',value=queryObj.password)
                            label 手机号码：
                            input(type='search',name='telNum',value=queryObj.telNum)
                            label 预约地区：
                            if getCity
                                select(name='cityId',value=queryObj.city)
                                    option(value='') 全部
                                    each item in getCity
                                        - var bSelect = null
                                        if item.id == queryObj.cityId
                                            - bSelect = true
                                        option(value='#{item.id}',selected=bSelect) #{item.name}
                            else
                                span.red 地区获取失败
                            //-select(name='city',value=queryObj.city)
                                option(value='') 全部
                                option(value='1') 广东
                                option(value='2') 深圳
                                option(value='3') 南京
                                option(value='4') 北京
                                option(value='5') 武汉
                            label 取样方式：
                            select(name='serviceType',value=queryObj.serviceType)
                                option(value='') 全部
                                -for(var i=0,len= serviceType.length;i<len;i++){
                                    - var bSelect = null;
                                    each index,str in serviceType[i]
                                        if str == queryObj.serviceType
                                            - bSelect = true
                                        option(value=str ,selected=bSelect) #{index}
                                -}
                            //-label 取样成功：
                            //-select
                                option 全部
                                option(value='1') 是
                                option(value='2') 否
                            button(type='submit') 搜索
                    .tab
                        if eleAuthority && eleAuthority.BookingSampleStorage
                            a.btn(href='/screening/booking/sample_storage' target='_blank') 样品入库
                        .hd.clearfix
                            if eleAuthority&&eleAuthority.BookingUnTreatedList
                                span: a(href='/screening/booking/list/0') 未处理预约
                            if eleAuthority&&eleAuthority.BookingInTreatedList
                                span: a(href='/screening/booking/list/1') 处理中预约
                            if eleAuthority&&eleAuthority.BookingHasTreatedList
                                span: a(href='/screening/booking/list/2') 处理完预约
                            if eleAuthority&&eleAuthority.BookingHasCancelList
                                span: a(href='/screening/booking/list/4') 已取消预约
                    if !success
                          aside #{JSON.stringify(data)}
                    else
                          table.table
                            thead
                                tr
                                    th  预约编号
                                    th  订单编号
                                    th  手机号码
                                    th  预约时间
                                    th  服务门诊
                                    th.w2.tl  预约信息
                                    if status==1
                                        th  样品入库
                                    th  套餐
                                    th  操作
                            tbody
                                if !data||!data.length
                                    tr
                                        if status==1
                                            td(colspan='9') 暂无数据
                                        else
                                            td(colspan='8') 暂无数据
                                else
                                    each item in data
                                        tr(class=item.id)
                                            td #{item.id}
                                            td
                                                if item.goodsInfo
                                                    a(href='/screening/order/detail/#{item.goodsInfo.orderId}?type=book',target='_blank') #{item.goodsInfo.orderId}
                                            td: a(href='/users/account/detail/#{item.accountId}?type=book' target='_blank') #{item.telNum}
                                            td #{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')}
                                            td
                                                if item.goodsInfo
                                                    -hospital = JSON.parse(item.goodsInfo.hospital)
                                                    |#{hospital.hospitalName}
                                            td: aside.tl
                                                - var timeWay = ''
                                                p 取样方式：
                                                    case item.serviceType
                                                        when 0
                                                            | 未选择服务方式

                                                        when 1
                                                            |门诊取样
                                                            -timeWay ='就诊时间'
                                                        when 2
                                                            em.red 上门取样
                                                            -timeWay ='取样时间'
                                                        when 3
                                                            em.textc_fe9 快递取样


                                                //-| 取样时间：#{moment(item.samplingTime).format('YYYY-MM-DD HH:mm:ss')}
                                                if item.serviceType!=3
                                                    p #{timeWay}：#{moment(item.time).format('YYYY-MM-DD HH:mm:ss')}
                                                if item.serviceType==1
                                                    p 门诊地址：#{item.address}
                                                else if item.serviceType == 3
                                                    p 快递地址：#{item.address}
                                                else
                                                    //-p #{item.province}#{item.city}#{item.region}#{item.address}
                                                    p 取样地址：#{item.address}
                                            if status==1
                                                td
                                                    //-if (item.serviceType==1&&item.reservationStatus<1200)||(item.serviceType==2&&item.reservationStatus<2300)||(item.serviceType==3&&item.reservationStatus<3400)
                                                    if item.storage==0
                                                        em.red 否
                                                    else
                                                        |是
                                            td
                                                if item.goodsInfo
                                                    p
                                                        a(href='/screening/meal/detail/#{item.goodsInfo.goodsId}',target='_blank',title=item.name)
                                                            if item.goodsInfo.goodsName.length > 20
                                                                | #{item.goodsInfo.goodsName.substring(0, 18)}……
                                                            else
                                                                | #{item.goodsInfo.goodsName}
                                                    p 密码： #{item.password}
                                                //-if item.reservations
                                                    each arr in item.reservations
                                                        p
                                                          if arr.goodsInfo
                                                            a(href='/screening/meal/detail/#{arr.goodsInfo.goodsId}',target='_blank',title=arr.name)
                                                                if arr.goodsInfo.goodsName.length>20
                                                                    |#{arr.goodsInfo.goodsName.substring(0,18)}……
                                                                else
                                                                    |#{arr.goodsInfo.goodsName}
                                                        p 密码： #{arr.password}
                                            td(data-id="#{item.id}",data-status="#{item.reservationStatus}",data-serviceType=item.serviceType)
                                                p: a(href='/screening/booking/detail/#{item.id}',target='_blank') 预约详情
                                                if item.process==0
                                                    //-case item.serviceType
                                                        when 0
                                                        when 1
                                                            if eleAuthority&&eleAuthority.BookingClinicRegister
                                                                p: a.toRegister(href='javascript:;') 门诊登记
                                                        when 2
                                                            if eleAuthority&&eleAuthority.BookingSampling
                                                                p: a.red.arrangeNurse(href='javascript:;') 安排取样
                                                        when 3
                                                            if eleAuthority&&eleAuthority.BookingDeliver
                                                                p: a.deliveryBtn.textc_fe9(href='javascript:;') 发货
                                                    if eleAuthority && eleAuthority.BookingCancel
                                                        p: a.cancelBooking(href='javascript:;') 取消预约
                                                //-else if item.status==1
                                                    if eleAuthority && eleAuthority.BookingChageStatus
                                                        p: a.changeStatue(href='javascript:;') 修改报告状态

                    //-分页
                    include ../includes/pagination
    include ../includes/footer
    //script(src="/js/utils.js")
    //script(src="/js/booking.js")
    script.
        seajs.use('/js/screenings/booking.js')