extends ../layout
block content
    .container
        include ../includes/nav
        .main
            .position 当前位置：筛查业务>预约管理>安排取样
            section#content
                if !success
                    aside #{data.msg}:#{JSON.stringify(data)}
                else
                    .search
                        label 护士编号：
                        input(type='text',name='username')
                        label 护士姓名：
                        input(type='text',name='')
                        label 手机号码：
                        input(type='text',name='tel')
                        button(type='submit') 搜索
                    table.table
                        thead
                            tr
                                th  护士编号
                                th  姓名
                                th  联系方式
                                th  服务次数
                                th  操作
                        tbody
                            if !data
                                tr
                                    td(colspan='7') 无法获取数据
                            if pagecount&&pagecount==0
                                tr
                                    td(colspan='7') 暂无数据
                            else
                                if !data.length
                                    tr
                                        td(colspan='7') 无法获取数据
                                else
                                    each item in data
                                        tr
                                            td #{item.id}
                                            td #{item.telNum}
                                            td
                                                if item.reservations
                                                    each arr in item.reservations
                                                        p
                                                            a(href='/screening/meal/detail/#{arr.id}',target='_blank',title=arr.name) #{arr.name}
                                                            em.blue ( #{arr.password} )
                                            td(data-id="#{item.id}",data-status="#{item.reservationStatus}",data-serviceType=item.serviceType)
                                                p: a(href='/screening/booking/detail/#{item.id}',target='_blank') 预约详情

                    //-分页
                    include ../includes/pagination
    include ../includes/footer
    //script(src="/js/utils.js")
    //script(src="/js/booking.js")
    script.
        seajs.use('/js/screenings/booking.js')