extends ../layout
block content
    link(href='/css/treats/update_doctor.css',rel='styleSheet')
    .container
        include ../includes/nav
        .main
            .position 当前位置：治疗业务>医生管理>医生信息编辑
            section#content
                form.detail.formBox.update_detail(method='POST',action='/treats/clinic/update')
                    input(type='hidden',name='id',id='doctorId',value='#{data.id}')
                    h3 基本信息
                    p
                        label 编号：
                        | #{data.doctorCode}
                    p
                        label 头像：
                        img(src='#{data.doctorPhoto}')
                    p
                        label 姓名：
                        input(type='text',name='doctorName',value='#{data.doctorName}')
                    p
                        label 联系电话：
                        input(type='text',name='doctorName',value='#{data.doctorName}')
                    p
                        label 科室电话：
                        input(type='text',name='doctorName',value='#{data.doctorName}')
                    p
                        label 所属门诊
                        select(name='hospitalName')
                            each item in get_hospital_all
                                - var bSelect = null
                                if data.hospitalReDepartments[0].hospitalId == item.id
                                    - bSelect = true
                                option(value='#{item.id}',selected=bSelect) #{item.hospitalName}
                    p
                        label 所属科室
                        div #{get_department}
                        select
                            each item in get_department
                                - var bSelect = null
                                if data.hospitalReDepartments[0].hospitalId == item.id
                                    - bSelect = true
                                option(value='#{item.id}',selected=bSelect) #{item.deptName}
                    p
                        label 职称：
                        div #{get_department}
                        select(name='doctorTitle')
                            each item in get_hospital_all
                                - var bSelect = null
                                if data.hospitalReDepartments[0].hospitalId == item.id
                                    - bSelect = true
                                option(value='#{item.id}',selected=bSelect) #{item.name}
                    p
                        label 履历：
                        textarea(rows='5',name='description') #{data.introduction}
                    p
                        label 擅长：
                        textarea(rows='5',name='description') #{data.skill}
                    div
                        button.submitBtn 提交

    include ../includes/footer
    script.
        seajs.use(src='/js/update_doctor.js')